/.vscode/
/Assets/ProtaFramework/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Ll]og/
/[Bb]uild/
/[Bb]uildLinux/

/LuaScripts/Prota/

**/Generated/
**/Generated.meta


*.csproj
*.sln
